#headerpic {
    height: 500px;
    object-fit: cover;
    width: 100%;
    background-color: lightblue;
}

.btn{
    display: block;
}

.btn:hover {
    background-color: #4a8b09;
}

.post_img {
    width: 50%;
    display: block;
    margin: auto;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title_img{
display: flex;
}

.card-img-top{
    object-fit: cover;
}