@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

    .faq-heading {
        border-bottom: #777;
        padding: 20px 60px;
    }
    
    #faq-header {
        text-align: center;
        font-family: 'Special Elite', cursive;
        font-size: 360%;
        font-weight: bold;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .faq-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .hr-line {
        width: 60%;
        margin: auto;
    }
    
    .faq-page {
        color: #444;
        cursor: pointer;
        padding: 30px 20px;
        border: none;
        outline: none;
        transition: 0.4s;
        font-size: 25px;
        font-family: 'Merriweather', serif;
    }
    
    .active,
    .faq-page:hover {
        background-color: #f9f9f9;
    }
    
    .faq-body {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
        text-align: left;
        font-size: 20px;
        font-family: 'Archivo', sans-serif;
    }
    
    .faq-page:after {
        content: '\02795';
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }
    
    .active:after {
        content: "\2796";
    }
    
    .pic {
        height: 200px;
        width: 200px;
        object-fit: cover;
        display: block;
        margin: auto;
    }
    
    @media only screen and (max-width: 700px) {
        .faq-page {
            font-size: 20px;
        }
        .faq-body {
            font-size: 15px;
        }
        #faq-header {
            font-size: 200%;
        }
    }