.h1_plants{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 400%;
}

.img-fluid{
    height: 400px;
}

.Carousel-pictures{
    height: 300px;
    object-fit:cover;
}

.image1{
    background-image: url(/pics/scandas.jpg);
    background-repeat: no-repeat;
    background-size: 320px 400px;
    background-position:top center;
}

.image2{
    background-image: url(/pics/aluksia.jpg);
    background-repeat: no-repeat;
    background-size: 320px 400px;
    background-position:top center;
}

.image3{
    background-image: url(/pics/fikuskinor.jpg);
    background-repeat: no-repeat;
    background-size: 320px 400px;
    background-position:top center;
}

.image4{
    background-image: url(/pics/ficus_elastic.jpg);
    background-repeat: no-repeat;
    background-size: 320px 400px;
    background-position:top center;
}

.image5{
    background-image: url(/pics/sarah.jpg);
    background-repeat: no-repeat;
    background-size: 320px 400px;
    background-position:top center;
}

.image6{
    background-image: url(/pics/difenbechia.jpg);
    background-repeat: no-repeat;
    background-size: 320px 400px;
    background-position:top center;
}

.image7{
    background-image: url(/pics/monstra.jpg);
    background-repeat: no-repeat;
    background-size: 320px 400px;
    background-position:top center;
}

.image8{
    background-image: url(/pics/zemia.jpg);
    background-repeat: no-repeat;
    background-size: 320px 400px;
    background-position:top center;
}

.image9{
    background-image: url(/pics/sansi.jpg);
    background-repeat: no-repeat;
    background-size: 320px 400px;
    background-position:top center;
}

.image_hover{
opacity: 0;
transition-duration: 1.25s;
}

.image_hover:hover{
    opacity: 1;
    }

.price{
font-family: 'Ubuntu', sans-serif;
}

#h2_plants{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 1000px) {
    .h1_plants {
        font-size: 300%;
    }
    #h2_plants {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1000px) {
    .h1_plants {
        font-size: 300%;
    }
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.btn:hover {
    background-color: #4a8b09;
}
